name = "nocall-webhook"
main = "src/index.js"
compatibility_date = "2024-04-15"

[vars]
# SALESFORCE_LOGIN_URL = "https://login.salesforce.com"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
